.Titulo {
  color: #f5f5f5;
}

.Barra {
  background-color: #f5f5f5;
  border-radius: 15px;
}

.Autor {
  color: #f5f5f5;
  font-style: italic;
  padding-top: 1em;
}

.Contenedor {
  margin-top: 20px;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 50%;
}

.Panel {
  border-radius: 15px;
  background-color: #f5f5f5;
  margin: auto;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.Boton {
  margin: 1em;
}

.Boton:hover {
  transform: scale(1.05);
}

.Texto {
  color: #f5f5f5;
}